# data files
**/*.fa
!infer_chromosome/one_chunk/random_chunk.fa
**/*.fna
**/*.pq
**/*.safetensors

# raw NCBI downloads
ncbi_dataset/
ncbi_datasets_test/*.zip
**/ncbi_dataset.zip

# large Jellyfish files
extract_kmers/fasta.skf
extract_kmers/plasmodium.skf
extract_kmers/plasmodium2.skf
extract_kmers/plasmodium2_table.tsv
extract_kmers/plasmodium_table.tsv

# SLURM stdout and stderr
logs/

# notebook data
notebooks/wandb/
notebooks/data/
notebooks/hyena-gpt-shakespeare/

# Nextflow work/cache/temporary
**/work/
**/.nextflow/
**/.nextflow.log*

# full protist genomes
**/download_genomes/test_out

# cache files
**/.ipynb_checkpoints/
**/__pycache__/
**/singularity_cache/

# large data directories
**/get_kmers/out/
infer_chromosome/ch38_data

# other large files
notebooks/sliding_window.ipynb
infer_chromosome/compare_gff/gencode.v48.basic.annotation.*
