
profiles {
    crg_igor {
        params {
            config_profile_contact = 'Athanasios Baltzis (@athbaltzis)'
            config_profile_description = 'nf-core/proteinfold CRG profile provided by nf-core/configs'
        }
        executor.name = 'crg'
        process {
            queue = 'rg-el7'
	    withName: "JELLYFISH_COUNT" {
		time = {'${10 * params.kmer_size}s'}	
	    }
	    withName: "JELLYFISH_DUMP" {
		time = '5s'
	    }
	    withName: "MERGE_DUMPS" {
		time = {'${5 * params.kmer_size}s'}
	    }
        }
    }
}
